<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. --><!-- The contents of this file will be loaded for each web application --><Context>

	<!-- Default set of monitored resources -->
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<WatchedResource>${catalina.base}/conf/web.xml</WatchedResource> <!-- <WatchedResource>에 설정한 file의 변경이 있을 다시 로드한다. -->
	<!-- ${catalina.base}는  다음과 같은 위치이다-->
	<!-- C:\java\server\apache-tomcat-7.0.105-windows-x64\apache-tomcat-7.0.105 -->
	<!-- 이 ${catalina.base}는 이클립스에서 윗줄의 경로를 암묵적으로 규칙을 정해놓은것이다. -->
	
	<!-- Uncomment this to disable session persistence across Tomcat restarts -->
	<!-- <Manager pathname="" /> -->

	<!-- Uncomment this to enable Comet connection tacking (provides events 
		on session expiration as well as webapp lifecycle) -->
	<!-- <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" 
		/> -->
		
	<ResourceLink global="jndi/sample" name="jndi/sample" type="javax.sql.DataSource"/>
	<!-- server.xml 파일의 GlobalNamingResources 노드에 resource가 등록되어 있다면 ResourceLink를 등록해서 사용 할 수 있다. -->
</Context>